= simple_form_for(@contract) do |f|
  = f.error_notification

  .form-inputs
    = f.input :start_date
    = f.input :end_date, :as => :date, :include_blank => true
    = f.association :vending_machine, :label_method => :serial_number, :value_method => :id, :include_blank => false
    = f.association :partner, :label_method => :name, :value_method => :id, :include_blank => false

  .form-actions
    = f.button :submit
