%h1= Contract.model_name.human
= link_to edit_contract_path(@contract), class: "btn" do
  <i class="icon-pencil"></i>
  = t('Edit')

= link_to @contract, method: :delete, data: { confirm: t('dialog.are_you_sure') }, class: "btn" do
  <i class="icon-trash"></i>
  = t('Delete')

%p
  %b= "#{ Partner.model_name.human } :"
  = @contract.partner.name
%p
  %b= "#{ VendingMachine.model_name.human } :"
  = link_to @contract.vending_machine.serial_number, vending_machine_path(@contract.vending_machine)
%p
  %b= "#{ Contract.human_attribute_name('start_date') } :"
  = l(@contract.start_date)
%p
  %b= "#{ Contract.human_attribute_name('end_date') } :"
  = l(@contract.end_date) if @contract.end_date
