%h1
  = VendingMachine.model_name.human.pluralize
  = link_to new_vending_machine_path, class: "btn btn-primary" do
    <i class="icon-plus icon-white"></i>
    = t('Create')

- if @vending_machines.size > 0
  %table
    - @vending_machines.each do |vending_machine|
      %tr
        %td= vending_machine.serial_number
        %td= link_to t('Show'), vending_machine_path(vending_machine), { class: "btn btn-mini" }
- else
  .alert.alert-info
    %button.close{ "data-dismiss" => "alert" }
      ×

    = t('vending_machines.none_to_display')
