%h1= "Vending machine #{ @vending_machine.serial_number }"
= link_to edit_vending_machine_path(@vending_machine), class: "btn" do
  <i class="icon-pencil"></i> Edit

= link_to @vending_machine, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" do
  <i class="icon-trash"></i> Delete

%p#notice= notice

%p
  %b Serial number:
  = @vending_machine.serial_number
%p
  %b Purchase price:
  = pretty_price_format(@vending_machine.purchase_price)
%p
  %b Age verification:
  = @vending_machine.age_verification
